h2 {
    color: #666666;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 40px;
    margin-top: 110px;
}
.policy-style {
    color: grey;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:15px
}
.policy-style a {
    text-decoration: none;
    font-weight: bold;
    color: #0a66c2;
}
.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
    transition: background-color 0.2s ease;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #2596be
    border-color: #2596be
}

.btn-primary:active,{
    background-color: #5caeff;
    border-color: #5caeff;
    box-shadow: none;
}
.btn-primary:focus {
    background-color: #0d6efd;
    border-color: #0d6efd;
    box-shadow: none;
}
.about-link {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    color: #343a40;
    margin-left: 50px;
}

.about-highlight {
    color: #0a66c2;
    text-decoration: None;

}